src/main/resources/wsdl/helloworld.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="https://github.com/ridvancelik"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="https://github.com/ridvancelik">

    <wsdl:types>
        <xs:schema targetNamespace="https://github.com/ridvancelik">
            <xs:element name="helloWorldReq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="name"/>
                        <xs:element type="tns:ComplexExample" name="extras"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="helloWorldRes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="greetingMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>


    <!--Define input and output parameters -->
    <wsdl:message name="helloWorldReq">
        <wsdl:part name="in" element="tns:helloWorldReq"/>
    </wsdl:message>
    <wsdl:message name="outputSOATest">
        <wsdl:part name="out" element="tns:helloWorldRes"/>
    </wsdl:message>

    <!--Define port definition -->
    <wsdl:portType name="SOATestEndpoint">
        <wsdl:operation name="SOATest">
            <wsdl:input message="tns:helloWorldReq"/>
            <wsdl:output message="tns:outputSOATest"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--Bind Soap operation and service -->
    <wsdl:binding name="SOATestBinding" type="tns:SOATestEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOATest">
            <soap:operation soapAction="urn:PTL"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!--Define service -->
    <wsdl:service name="SOATestEndpointService">
        <wsdl:port name="SOATestEndpoint" binding="tns:SOATestBinding">
            <soap:address location="http://localhost:8080/ridvancelik/ws/helloWorldExample"/>
        </wsdl:port>
    </wsdl:service>

    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://github.com/ridvancelik"
               targetNamespace="https://github.com/ridvancelik">
        <xs:complexType name="ComplexExample">
            <xs:sequence>
                <xs:element name="age" type="xs:int"/>
                <xs:element name="familyName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:schema>
</wsdl:definitions>